@import 'styles/mixins';

.root {
  margin-bottom: 130px;
}

.title {
  @include setting-font(Mulish, normal, 700, 38px, 56px);
  text-align: center;
  color: #2c2b34;
  margin-bottom: 64px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 19px;

  .item {
    width: 245px;
    height: 338px;
    background: #fbf7ff;
    border-radius: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 19px;
    grid-gap: 12px;
    color: #2c2b34;

    &:hover {
      background-color: #713bad;
      color: #fff;
    }

    &__title {
      @include setting-font(Mulish, normal, 700, 22px, 24px);
      margin-bottom: 16px;
    }
    &__description {
      @include setting-font(Mulish, normal, 400, 14px, 21px);
    }
  }
}
