@import 'styles/mixins';
.root {
  margin-bottom: 50px;
  min-height: 73.5px;
  @include responsive-size(screen-m) {
    margin-bottom: 20px;
  }
  @include responsive-size(screen-xs) {
    min-height: 47px;
    margin-top: 14px;
  }
  .item {
    min-width: 269px;
    min-height: 73.5px;
    background-color: #fff;
    @include responsive-size(screen-xs) {
      min-width: 130px;
      min-height: 47px;
      width: 130px;
      height: 47px;
    }
  }
}

.setting-slider {
  height: 73.5px;
  margin: auto;
  position: relative;
  width: min(100%, 1345px);

  & > :nth-child(1) {
    height: 73.5px;
    width: min(100%, 1345px);
    @include responsive-size(screen-xs) {
      height: 47px;
    }
  }
}
