.recentItem {
  padding: 10px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 15px;
    padding: 0;
  }
  .recentImg {
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    cursor: pointer;
  }
  .recentBody {
    position: relative;
    h4 {
      overflow: hidden;
      line-height: 24px;
      max-height: 24px;

      position: absolute;
      left: 15px;
      top: 0;
      font-weight: 600;
      font-size: 14px;
      color: #2c2b34;
      a:hover {
        color: #9b5efc;
      }
    }
    p {
      position: absolute;
      left: 15px;
      bottom: 0;
      font-weight: 500;
      font-size: 10px;
      color: #858585;
      margin-bottom: 0;
    }
  }
}
