@import 'styles/mixins';
.root {
  margin: auto;
  margin-bottom: 16px;
  width: 100%;
  position: relative;
  height: calc(100vw * 300 / 1728);
  @include responsive-size(screen-m) {
    height: calc(100vw * 300 / 390);
  }
}

.banner__image {
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: min(856px, 100vw);
  height: 100%;
  top: 0;
  left: calc(50vw - 428px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @media only screen and (max-width: 856px) {
    left: 0;
  }
  .title {
    @include setting-font(Mulish, normal, 700, 32px, 56px);
    text-align: center;

    color: #ffffff;
    margin-bottom: 40px;
    @include responsive-size(screen-m) {
      @include setting-font(Mulish, normal, 600, 24px, 32px);
    }

    @include responsive-size(screen-xs) {
      @include setting-font(Mulish, normal, 600, 14px, 24px);
    }
  }
}

.search-box {
  width: 100%;
  height: 72px;

  background: rgba(0, 0, 0, 0.66);
  border-radius: 36px;

  display: grid;
  grid-template-columns: 27px 1fr max-content;
  grid-gap: 19px;
  justify-content: center;
  align-items: center;
  padding: 0 12px 0 26px;
  @include responsive-size(screen-xl) {
    @include setting-font(Mulish, normal, 400, 14px, 24px);
    width: 352px;
    height: 48px;
    top: calc(50% - 24px);
    left: calc(50% - 176px);
    grid-template-columns: 20px 1fr max-content;
    grid-gap: 14px;
    padding: 0;
    padding-left: 19px;
    padding-right: 10px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  input {
    @include setting-font(Mulish, normal, 300, 24px, 32px);
    background-color: transparent;
    border: unset;
    color: #ffffff;
    &:focus-visible {
      outline: unset !important;
      border: unset !important;
    }
    @include responsive-size(screen-xl) {
      @include setting-font(Mulish, normal, 400, 14px, 24px);
    }
  }

  .search-button {
    @include setting-font(Mulish, normal, 600, 16px, 26px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 103px;
    height: 48px;

    /* Primary/02 */

    background: #674f82;
    border-radius: 45px;

    color: #fff;

    @include responsive-size(screen-xl) {
      @include setting-font(Mulish, normal, 400, 14px, 24px);
      width: 78px;
      height: 32px;

      /* Primary/02 */

      background: #674f82;
      border-radius: 45px;
    }
  }
}
