<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    
    
    <rewrite>
      <rules>
        <rule name="server" enabled="false" patternSyntax="Wildcard">
          <match url="*" />
          <action type="Rewrite" url="server.js" />
        </rule>
                <rule name="proxy">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
      </rules>
    </rewrite>
	
	
  </system.webServer>
</configuration>