<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    
    
    <rewrite>
      <rules>
                <clear />
                <rule name="server" enabled="false" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="server.js" />
                </rule>
                <rule name="RedirectPatronLink" stopProcessing="true">
                    <match url="^talent/([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://talent.ayavn.com/{R:1}" />
                </rule>
                <rule name="http_https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="proxy">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
      </rules>
    </rewrite>
	
	
  </system.webServer>
</configuration>
