<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    
    
    <rewrite>
      <rules>
                <clear />
                <rule name="server" enabled="false" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="server.js" />
                </rule>
                <rule name="RedirectPatronLink" stopProcessing="true">
                    <match url="^talent/([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://talent.ayavn.com/{R:1}" />
                </rule>
               <rule name="Redirect to HTTPS without www" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions logicalGrouping="MatchAll">
                    <add input="{HTTPS}" pattern="^OFF$" />
                    <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
                  </conditions>
                  <action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Special case for HTTPS with www" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions logicalGrouping="MatchAll">
                    <add input="{HTTPS}" pattern="^ON$" />
                    <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                  </conditions>
                  <action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="proxy">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
      </rules>
    </rewrite>
	
	
  </system.webServer>
</configuration>
