.newsItem {
  .newsImg {
    @media only screen and (max-width: 768px) {
      margin-bottom: 14px;
    }
    .bgImg {
      height: 214px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      cursor: pointer;
    }
  }
  .newsTitle {
    position: relative;
    @media only screen and (max-width: 768px) {
      margin-bottom: 8px;
    }

    a:hover,
    a:active,
    a:focus {
      color: #9b5efc;
    }

    .titleText {
      overflow: hidden;
      max-height: 90px;
      line-height: 28px;

      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      text-align: left;
      @media only screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .postedDateText {
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      color: #ffffff;
      position: absolute;
      bottom: 0;
      margin: 0;
      @media only screen and (max-width: 768px) {
        bottom: -5px;
      }
    }
  }
  .newsDesWrapper {
    position: relative;
    .newsDes {
      position: relative;
      font-weight: 400;
      font-size: 14px;
      color: #efeef0;
      text-align: left;
      .text {
        overflow: hidden;
        line-height: 22px;
        max-height: 92px;
      }
      .readMore {
        position: absolute;
        right: 0px;
        bottom: -4px;
        background: #ffffff;
        padding-left: 25px;
      }
    }
  }
}
