@import 'styles/mixins';
.root {
  max-width: min(1037px, calc(100vw - 32px));
  margin: auto;
  padding-top: 80px;
  @include responsive-size(screen-m) {
    padding-top: 40px;
  }
}
.title {
  @include setting-font(Mulish, normal, 700, 30px, 56px);
}
