@import 'styles/mixins';
.root {
  width: min(100vw, 1037px);
  margin: auto;
  margin-top: 56px;

  .breadcrumb {
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 48px;
    cursor: pointer;
  }
  .name {
    @include setting-font(Mulish, normal, 600, 16px, 22px);
    color: #000000;
  }

  .tab {
    display: flex;

    &__item {
      @include setting-font(Mulish, normal, 600, 12px, 22px);

      padding: 7px 12px 3px;

      height: 64px;

      /* White / 01 */
      color: #858585;
      background: #ffffff;
      &.active {
        box-shadow: inset 0px -3px 0px #9454fc;
        color: #9454fc;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 14px;

      height: 54px;
      cursor: pointer;
      &:hover {
        background: #efeef0;
        border-radius: 8px;
      }
    }
  }

  .tab-content {
    padding: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    @include responsive-size(screen-m) {
      grid-template-columns: 1fr;
    }
  }

  .more {
    @include setting-font(Mulish, normal, 600, 12px, 22px);
    color: #9454fc;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
  }
}
