@import 'styles/mixins';
.root {
  background: #ffffff;
  /* Grey/04 */

  border: 2px solid #e8e8e8;
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 24px;
  .title {
    @include setting-font(Inter, normal, 600, 18px, 24px);
    color: #000000;
    margin-bottom: 24px;
  }

  .sponsor {
    width: 100%;
    padding: 36px 60px;
    background: linear-gradient(180deg, #3e2a57 0%, #2f1339 100%);

    display: grid;
    grid-template-columns: 1fr 130px 110px;
    grid-gap: 60px;
    color: #ffffff;
    margin-bottom: 24px;

    .benefit {
      @include setting-font(Inter, normal, 700, 32px, 40px);
      margin-bottom: 24px;
    }
    .join-button {
      @include setting-font(Inter, normal, 600, 16px, 26px);
      @include border-button(#9454fc, 128px, 40px);
    }

    .total-post {
      @include setting-font(Inter, normal, 700, 48px, 56px);
    }
    .desc-post {
      @include setting-font(Inter, normal, 600, 14px, 24px);
      color: #e1d6ec;
      margin-top: 4px;
    }
  }

  .post {
    width: 100%;
    margin-bottom: 24px;
    background: #ffffff;
    /* Grey/04 */

    border: 2px solid #e8e8e8;
    border-radius: 8px;

    &__image {
      height: 280px;
      background: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px;
      &-title {
        @include setting-font(Inter, normal, 600, 18px, 24px);
        color: #fff;
        width: 209px;
        text-align: center;
        margin-bottom: 24px;
      }
      &-button {
        @include setting-font(Inter, normal, 600, 14px, 24px);
        @include border-button(#2c2b34, 109px, 32px);

        /* Grey/01 */

        color: #fff;
      }
    }

    &__date {
      @include setting-font(Inter, normal, 400, 16px, 26px);
      padding-left: 24px;
      color: #2c2b34;
      margin-bottom: 10px;
    }

    &__title {
      @include setting-font(Inter, normal, 700, 24px, 30px);
      padding-left: 24px;
      color: #2c2b34;
      margin-bottom: 24px;
    }

    &__subscribe {
      cursor: pointer;
      @include setting-font(Inter, normal, 600, 14px, 24px);
      @include border-button(#674f82, 117px, 32px);

      color: #ffffff;
      margin: auto;
      margin-bottom: 18px;
    }

    &__summary {
      @include setting-font(Inter, normal, 400, 12px, 16px);
      padding-left: 24px;
      margin-bottom: 24px;
      color: #000000;
      display: flex;
      align-items: center;
      div {
        margin-right: 24px;
      }
    }
  }

  .explore {
    @include setting-font(Inter, normal, 600, 14px, 24px);
    color: #9454fc;
    margin: auto;
    width: 100px;
    cursor: pointer;
  }
}
