@import 'styles/mixins';

.root {
  background: #ffffff;
  /* Grey/04 */

  border: 1px solid #e8e8e8;
  border-radius: 8px;
  height: 80px;
  padding: 16px 18px;
  display: grid;
  grid-template-columns: 64px 1fr max-content;
  grid-gap: 18px;
  align-items: center;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    &__title {
      @include setting-font(Mulish, normal, 600, 14px, 24px);
    }
    &__sub-title {
      @include setting-font(Mulish, normal, 400, 10px, 14px);
    }
  }

  .action {
    cursor: pointer;
  }

  .skeleton {
    &__avatar {
      width: 64px;
      height: 64px;
      background: #e0e0e5;
      border-radius: 4px;
    }
    &__info {
      width: 100%;
      height: 14px;
      background: #e0e0e5;
      border-radius: 8px;
    }
  }
}
