.newsCardVerticalWrapper {
  @media only screen and (max-width: 768px) {
    margin-bottom: 15px;
  }
  .otherImg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;
  }
  .otherTitle {
    overflow: hidden;
    line-height: 22px;
    max-height: 72px;
    @media only screen and (max-width: 554px) {
      max-height: 80px;
    }
    font-weight: 600;
    font-size: 14px;
    color: #2c2b34;
    margin: 0;
    text-align: left;
    line-height: 24px;
    width: 100%;
    a:hover {
      color: #9b5efc;
    }
  }
  @media only screen and (max-width: 554px) {
    .hiddenPhone {
      display: none;
    }
    .hiddenTablet {
      margin-bottom: 18px;
      .otherImg {
        height: 119px !important;
      }
    }
  }
  @media only screen and (min-width: 554px) {
    .hiddenTablet {
      display: none;
    }
  }
}
