@import 'styles/mixins';
.casting-item {
  height: 214px;

  display: grid;
  grid-template-columns: 523px 1fr;
  grid-gap: 19px;

  color: #2c2b34;

  @include responsive-size(screen-l) {
    grid-template-columns: 400px 1fr;
  }
  @include responsive-size(screen-m) {
    grid-template-columns: 1fr;
    height: unset;
  }
  &:hover {
    color: #2c2b34;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-content: space-between;
}

.casting-title {
  @include setting-font(Mulish, normal, 700, 22px, 30px);
  margin-bottom: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.casting-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__row {
    display: flex;
    grid-gap: 8px;

    @include responsive-size(screen-m) {
      flex-wrap: wrap;
    }
  }
}

.casting-detail {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 8px;

  &__label {
    @include setting-font(Mulish, normal, 700, 14px, 26px);
  }

  &__value {
    @include setting-font(Mulish, normal, 400, 14px, 26px);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
}

.casting-preview {
  @include setting-font(Mulish, normal, 400, 14px, 26px);
  height: 26px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
