.title {
  margin-bottom: 58px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 19px;
  }
}

.newsWrapper {
  margin-bottom: 100px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 0px;
  }
}
.categoryWrapper {
  .CateItem {
    margin-bottom: 51px;
    @media only screen and (max-width: 554px) {
      margin-bottom: 24px;
    }
    .header {
      margin-bottom: 32px;
      display: flex;

      .haederText {
        font-weight: 700;
        font-size: 24px;
        color: #000000;
        flex: auto;

        &::after {
          content: '';
          border-top: 1px solid #e1d6ec;
          display: flex;
          position: relative;
          top: -9px;
        }

        .text {
          position: relative;
          background: #ffffff;
          padding-right: 19px;
          z-index: 1;
        }
      }
      .seeAll {
        margin-left: 19px;
        text-align: right;
        align-self: flex-end;
        margin-bottom: 4px;
      }
    }
  }
}
.hotNewsWrapper {
  padding: 40px;
  background: #2c2438;
  margin-bottom: 51px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 26px;
  }

  .highlightText {
    &::after {
      content: '';
      border-top: 1px solid #674f82;
      display: flex;
      position: relative;
      top: -9px;
    }
    .text {
      font-weight: 700;
      font-size: 30px;
      color: #ffffff;
      background: #2c2438;
      position: relative;
      padding-right: 19px;
      z-index: 1;
    }
  }

  .hotnewsItem {
    margin-top: 32px;
  }
}
