@import 'styles/mixins';
.root {
  max-width: min(1037px, calc(100vw - 32px));
  margin: auto;
}
.title {
  @include setting-font(Mulish, normal, 700, 30px, 56px);
  margin-bottom: 44px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;

  margin-bottom: 80px;
}

.list {
  display: grid;
  grid-gap: 40px;
}

.recent-list {
  display: flex;
  flex-direction: column;
  grid-gap: 18px;
}

.recent-title {
  @include setting-font(Mulish, normal, 600, 14px, 22px);
  margin-bottom: 4px;
}

.recent-item {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 14px;

  height: 70px;
  color: #858585 !important;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include setting-font(Mulish, normal, 600, 14px, 24px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }

  &__date {
    @include setting-font(Mulish, normal, 400, 8px, 14px);
  }
}
