.title {
  margin-bottom: 16px;
  text-align: left;
  @media only screen and (max-width: 554px) {
    margin-top: 30px;
  }
}
.authorWrapper {
  margin-bottom: 27px;
  .author,
  .postedTime {
    margin-left: 12px;
    font-weight: 500;
    font-size: 12px;
    color: #000201;
  }

  .seperate {
    margin-left: 33px;
    margin-right: 15px;
  }
}
.subTitle {
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  margin-bottom: 32px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 10px;
  }
}
.imgSubject {
  height: 360px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .imgSubject {
    height: 360px;
  }
}
@media only screen and (max-width: 992px) {
  .imgSubject {
    height: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .imgSubject {
    height: 200px;
  }
}
.content {
  .text {
    @media only screen and (max-width: 554px) {
      margin-bottom: 26px;
    }
  }
}
.hrStytle {
  background-color: #e1d6ec;
  height: 2px !important;
  margin: 64px 0;
  @media only screen and (max-width: 554px) {
    margin: 5px 0 18px 0;
  }
}

.searchWrapper {
  margin-bottom: 25px;
  position: relative;
  .searchInput {
    background: #f8f8f8;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    padding-right: 40px;
    margin-right: -20px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .btnCustom {
    border-top-left-radius: 45px !important;
    border-bottom-left-radius: 45px !important;
    z-index: 9;
  }
}

.recentTitle {
  font-weight: 600;
  font-size: 16px;
  color: #100d22;
  margin-bottom: 19px;
}

.otherNewsTitle {
  font-weight: 700;
  font-size: 22px;
  color: #000201;
  margin-bottom: 32px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 16px;
  }
}

.btnWrapper {
  text-align: center;
  margin-bottom: 91px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 26px;
  }
}
