@import 'styles/mixins';
.root {
  max-width: min(1037px, 100vw);
  display: flex;

  flex-wrap: wrap;
  grid-template-columns: repeat(4, 306px);
  grid-gap: 19px;
  margin: auto;
  height: 100%;
  margin-bottom: 45px;
  @include responsive-size(screen-xl) {
    justify-content: center;
  }
  .user {
    height: 288px;
    width: 245px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.58%,
      rgba(0, 0, 0, 0.8) 100%
    );
    cursor: pointer;
    border-radius: 8px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;

    &:hover {
      .user__name {
        span {
          background-size: 100% 2px;
        }
      }
    }
    &__avatar {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        border-radius: 8px;
      }
    }

    &__name {
      @include setting-font(Mulish, normal, 700, 22px, 28px);
      padding-left: 19px;
      span {
        transition: background-size 0.5s;
        background: linear-gradient(0, #fff, #fff) 0 100% no-repeat;
        background-size: 0 2px;
      }
    }
    &__gender {
      padding-left: 19px;
      @include setting-font(Mulish, normal, 400, 12px, 22px);
      color: #e8e8e8;
    }
    &__star {
      padding-left: 19px;
      @include setting-font(Mulish, normal, 400, 12px, 22px);
      color: #e8e8e8;
      margin: 12px 0 16px;
      display: flex;
      align-items: center;
      &-contained {
        display: grid;
        grid-template-columns: repeat(5, 15px);
        grid-gap: 4px;
        margin-right: 8px;
      }
    }
    &__follower {
      padding-left: 19px;
      @include setting-font(Mulish, normal, 400, 12px, 22px);
      color: #e8e8e8;
      margin-bottom: 14px;
    }
  }

  .space {
    width: 245px;
  }
}

.title,
.description {
  max-width: min(1037px, 100vw);
  margin: auto;
  color: #2c2b34;
  @media only screen and (max-width: 1037px) {
    max-width: calc(245px * 3 + 48px);
  }

  @media only screen and (max-width: 965px) {
    max-width: calc(245px * 2 + 22px);
  }

  @media only screen and (max-width: 635px) {
    max-width: 245px;
  }
}

.title {
  margin-top: 48px;
  @include setting-font(Mulish, normal, 700, 30px, 56px);
  @media only screen and (max-width: 635px) {
    @include setting-font(Mulish, normal, 700, 22px, 40px);
  }
}

.description {
  margin-bottom: 40px;
  @include setting-font(Mulish, normal, 400, 12px, 24px);
  @media only screen and (max-width: 635px) {
    width: 100%;
    margin-left: calc(50vw - 153px);
  }
}

.text--center {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 0;
}
