@import 'modal.scss';
@import '/styles/mixins';
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --maxWidth: 1720px;
  --paddingContainer: 216px;
}

.container-root {
  max-width: min(100vw, 1720px);
  margin: auto;
}
a:hover {
  color: #9454fc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.header-title {
  color: #2c2b34;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;

  @media only screen and (max-width: 554px) {
    margin-top: 24px;
  }
}

.btn-aya {
  border-radius: 45px;
  padding: 12px 24px;
  border: none;

  &.purple {
    color: #ffffff;
    background: #674f82;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      background: #9b5efc;
    }
  }
  &.light-blue {
    background: #ffffff;
    color: #2c2b34;
    font-weight: 600;
    font-size: 16px;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      background: #5383ec;
    }
  }
}

.form-group-wrapper {
  position: relative;
  margin-bottom: 32px;
  .form-control {
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 36px;
    position: relative;
    padding: 11px 24px;
    color: #2c2b34;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    &:active,
    &:focus {
      border-color: #9454fc;
      box-shadow: none;
    }
    &:focus + .custom-placeholder,
    &:not(:placeholder-shown) + .custom-placeholder {
      display: none;
    }

    &.password {
      padding-right: 75px;
    }
  }
  .select {
    position: relative;
  }
  .arrow-down {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
  }

  .custom-placeholder {
    position: absolute;
    user-select: none;
    top: 11px;
    left: 25px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(44 43 52 / 70%);
    cursor: text;
    &.required:after {
      content: ' *';
      color: #f00;
    }
  }
  .btn-show-pass {
    position: absolute;
    cursor: pointer;
    right: 22px;
    top: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #713bad;
  }

  .control-invalid {
    color: #f00;
    position: absolute;
    top: 50px;
    left: 20px;
  }
}

input.radio-aya {
  &.form-check-input:checked,
  &.form-check-input:focus {
    background-color: #3e2a57;
    border-color: #3e2a57;
    box-shadow: none;
  }
}

.form-check-aya {
  padding-left: 2.5em;
  cursor: pointer;
  position: relative;
  input.checkbox-aya {
    position: absolute;
    top: 5px;
    height: 24px;
    width: 24px;
    border: 2px solid #3e2a57;
    border-radius: 4px;
    margin-left: -2.5em;
    cursor: pointer;

    &:checked,
    &.form-check-input:checked {
      background-color: #713bad;
      accent-color: #713bad;
    }
  }
  .form-check-label {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    color: #000000;
    margin-left: 15px;
  }
  .control-invalid {
    color: #f00;
    position: relative;
    top: 0;
    left: -2.5em;
  }
}

.resize-none {
  resize: none;
}

.link-href {
  font-size: 16px;
  cursor: pointer;
  &.purple {
    color: #9b5efc;
    &:hover,
    &:active,
    &:focus {
      color: #9b5efc;
      font-weight: 600;
    }
  }
}

.mini-scrollbar {
  overflow: auto;
  overflow-y: overlay !important;
  overflow-x: overlay !important;

  &:focus {
    outline: none;
  }
}

.mini-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.mini-scrollbar::-webkit-scrollbar-thumb {
  background: #484747;
  border-radius: 40px;
}

.mini-scrollbar:hover::-webkit-scrollbar {
  background-color: transparent;
}

.mini-scrollbar:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.accordion-aya {
  .accordion-item {
    border: none;

    .accordion-header {
      .accordion-button {
        padding: 24px 0;
        border-bottom: 1px solid #e8e8e8;
        &:focus,
        &:not(.collapsed) {
          background-color: transparent;
          box-shadow: none;
          color: #484747;
        }
        &::after {
          background-image: url('../src/assets/svg_original/pluscircle.svg');
        }
        &:not(.collapsed)::after {
          background-image: url('../src/assets/svg_original/minuscircle.svg');
        }
      }
      .icon {
        margin-right: 40px;
      }
      .title {
        font-weight: 600;
        font-size: 18px;
        color: #484747;
        margin-right: 5px;
      }
    }

    .accordion-body {
      padding: 24px 62px;
      font-weight: 400;
      font-size: 16px;
      color: #484747;
    }
  }
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.react-loading-skeleton {
  --base-color: #e0e0e5;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  overflow: hidden;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.container {
  @media only screen and (max-width: 575px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.custom-container {
  max-width: 1328px;
  padding: 0 16px;
  margin: auto;
}

.header-item {
  box-shadow: none !important;
  border: 0;
  border-radius: 0px;

  background-color: transparent;
  color: #636e75;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: grid;
  grid-template-columns: 1fr 48px 8px;
  grid-gap: 8px;

  align-items: center;
  &:hover,
  &:focus {
    color: #636e75;
    background-color: transparent;
  }
}
.dropdown-toggle:after {
  border: unset !important;
}

.header-avatar {
  border: 4px solid #9454fc !important;
  border-radius: 50%;
  padding: 3px !important;
}
