/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left,
.modal.right {
  .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
    transform: translate3d(0%, 0, 0);
  }
}

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: -2px;
}

.modal.show + body {
  overflow: hidden;
}

.modal.full {
  padding-right: 0 !important;
}
.backdrop-menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  &.show {
    width: 100%;
  }
}
.content-menu {
  padding-top: 63px;
  height: calc(100% + 1px);
  width: 100%;
  background-color: #3e2a57;
}

.modal-menu {
  width: calc(100% + 4px);
  height: 100vh;
}
