.title {
  @media only screen and (max-width: 554px) {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.content {
  font-size: 14px;
  color: #2c2b34;
  margin-bottom: 223px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 110px;
  }
}
