.subTitle {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #484747;
  margin-bottom: 80px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 24px;
  }
}

.contentWrapper {
  margin-bottom: 220px;
  @media only screen and (max-width: 554px) {
    margin-bottom: 40px;
  }
}
