.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */

  text-align: center;

  /* Grey/01 */

  color: #2c2b34;
  margin-bottom: 104px;
}

.slide,
.slide-skeleton {
  height: 450px;
  margin-bottom: 38px;
  position: relative;
  .item {
    width: 300px;
    height: 460px;
    padding: 12px 6px;
    margin: 0 6px;
    cursor: pointer;
    transition: padding 0.3s ease-in-out;
    &:hover {
      padding: 0 6px 24px;
      filter: drop-shadow(0px 20px 9px rgba(0, 0, 0, 0.25));
      height: 490px;
    }
  }
}

.slide-skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 1650px) {
    .item:nth-of-type(1) {
      display: none;
    }
  }
  @media only screen and (max-width: 1250px) {
    .item:nth-of-type(2) {
      display: none;
    }
  }

  @media only screen and (max-width: 1024px) {
    .item:nth-of-type(3) {
      display: none;
    }
  }
}

.slide-action {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 72px max-content 72px;
  margin-bottom: 120px;
  grid-gap: 60px;
  z-index: 3;
  @media only screen and (max-width: 768px) {
    display: none;
  }
  svg {
    cursor: pointer;
  }
  .dots {
    display: flex;
    grid-template-columns: repeat(auto-fill, 16px);
    flex: 1;
    grid-gap: 24px;
  }
}

.setting-slider {
  height: 450px;
  position: relative;
  & > :nth-child(2) {
    height: 465px;
  }

  .slider-arrow__right,
  .slider-arrow__left {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 80px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 5;
    bottom: calc(50% - 24px);
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: flex-start;
    svg {
      width: 30px;
      height: 60px;
    }
  }
  .slider-arrow__left {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .slider-arrow__right {
    right: 0;
    justify-content: flex-end;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &:hover {
    .slider-arrow__right,
    .slider-arrow__left {
      display: flex;
    }
  }
}
